.header{
    background-image: url('../../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 75px;
}
.header h1{
    font-size: 3.5rem
}